<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Channels</title>
    <script type="text/javascript" src="/js/channels.js"></script>
</head>

<body>
    <h2>Welcome: <th:text="${username}"></th:th:text></h2>
    
    <form id="createChannelForm" action="/createChannel" method="post">
        <button id="createChannel">Create New Channel </button>
    </form>
    <button id="addChannelButton">Add New Channel</button>
    <table>
        <tr id="channelsContainer" th:each="channel : ${channels}">
            
            <td>
                <a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}">[[${channel.channelName}]]</a>
                    <!-- th:text="${channel.channelName}"></a> -->
            </td>
            
        </tr>
    </table>
</body>

</html>
