<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Chats</title>
</head>

<body>
    <h2>Channels</h2>
    <div id="channelsContainer" th:each="channel : ${channels}">
        <a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}" th:text="${channel.channelName}"></a>

    </div>
    <form id="createChannelForm" action="/createChannel" method="post">
        <button id="createChannel">Create New Channel </button>
    </form>
    <script type="text/javascript" src="/js/channels.js"></script>
</body>

</html>