<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <!-- <title>[[${channel.channelName}]]</title> -->
    <title th:text="${channel.channelName}"></title>
</head>

<body>
    <form>
        <div id="messageContainer" th:each="message : ${channel.messages}">
            <p th:text="${message.user + ': ' + message.message}"></p>
            <p th:text="${message}"></p>
        </div>
        <input type="hidden" id="channelId" th:value="${channel.channelId}" />
        <input type="text" id="messageInput" />
        <button id="sendMessage" onclick="sendMessage()">Send</button>
    </form>
    <script>
        var channel = {
            channelName: "${channel.channelName}",
            messages: []
        }
        document.getElementById("sendMessage").addEventListener("click", function () {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value;

            // Create a new paragraph element
            var newMessageElement = document.createElement("p");
            newMessageElement.textContent = message;

            // Append the new message to the message container
            var messageContainer = document.getElementById("messageContainer");
            messageContainer.appendChild(newMessageElement);

            // Clear the message input field
            messageInput.value = "";

            // Store the message in the channel object
            channel.messages.push(message);
        });
    </script>
    <script type="text/javascript" src="/js/chats.js"></script>
</body>

</html>