<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat Room</title>
</head>

<body>
    <h2>Messages from the chat room</h2>
    <div id="messageContainer">
        <div th:each="message : ${messages}">
            <p th:text="${message.message}"></p>
        </div>
    </div>
    <!-- <form id="sendMessageForm" th:action="@{/channels/{channelId}(channelId=${channelId})}" method="post"> -->
    <form id="sendMessageForm" th:action="@{'/channels/' + ${channelId}(channelId=${channelId})}" method="post">

        <input type="hidden" id="channelId" th:value="${channelId}" />
        <input type="text" id="messageInput" placeholder="Enter your message" />
        <!-- <button type="submit">Send</button>  -->
        <button onclick="sendMessage()">Send</button> <button><a href="/channels/">Go back</a></button>
    </form>
    
    <script type="text/javascript" src="/js/chats.js"></script>
</body>

</html>
