<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
</head>

<body>
    <script>
        // Check if the user's name is already stored in session storage
        let storedName = sessionStorage.getItem("username");

        if (storedName) {
            // User's name is already stored, use it
            var user = {
                "username": storedName
            };
            console.log(user);
            fetch(`/welcome?username=${encodeURIComponent(user.username)}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    document.getElementById("welcomeMessage").textContent = `Welcome, ${data.username}!`;
                    redirectToChannels();
                });
        } else {
            // User's name is not stored, prompt for it
            let username = prompt("Please enter your username:");
            var user = {
                "username": username
            };
            console.log(user);
            fetch(`/welcome?username=${encodeURIComponent(user.username)}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    document.getElementById("welcomeMessage").textContent = `Welcome, ${data.username}!`;
                    redirectToChannels();
                });

            // Store the user's name in session storage
            sessionStorage.setItem("username", username);
        }

        function redirectToChannels() {
            window.location.href = "/channels";
        }

    </script>
</body>

</html>